@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	text-align: center;
	background-image: url('../assets/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.div-container {
	margin: 50px 20px 20px 20px;
	height: calc(100vh - 70px);
	overflow: hidden;
	box-sizing: border-box;
	padding: 1px 20px;
}

.top-container {
	display: flex;
	width: 100%;
	height: 65%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 1px 60px;
	justify-content: space-between;
}

.calendar {
	width: 70%;
	height: 100%;
	margin-left: 25px;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.calendar img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	image-rendering: pixelated;
	display: block;
}

.weather {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.widget img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	image-rendering: pixelated;
}

.widget {
	width: 100%;
	height: 37.7%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
	overflow: hidden;
	box-sizing: border-box;
	background-image: url("../assets/interfaz-clima.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.clock-weather {
	width: 33.33%;
	height: 100%;
}

.time-zone {
	width: 66.67%;
	height: 100%;
	display: flex;
	padding: 2.9%;
	flex-direction: column;
}

.day-month {
	height: 33%;
	width: 100%;
}

.weather-temp {
	height: 36%;
	width: 100%;
	padding: 3%;
	gap: 3%;
	display: flex;
}

.time {
	height: 33%;
	width: 100%;
}

.div1 {
	height: 100%;
	width: 40%;
}

.div2 {
	height: 100%;
	width: 20%;
}

.div3 {
	height: 100%;
	width: 40%;
}


.junimo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.junimo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	image-rendering: pixelated;
	display: block;
}

.menu-container {
	height: 35%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 3%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.menu-btn {
	position: relative;
	width: 20%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	image-rendering: pixelated;
}

.menu-btn:hover {
	transform: scale(1.05);
	filter: brightness(1.2);
}

.menu-btn span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	pointer-events: none;
}

#todo-btn {
	background-image: url('../assets/marco-todo.png');
	image-rendering: pixelated;
}

#feelings-btn {
	background-image: url('../assets/marco-mood.png');
	image-rendering: pixelated;
}

#pomodoro-btn {
	background-image: url('../assets/marco-time.png');
	image-rendering: pixelated;
}

#bouquet-btn {
	background-image: url('../assets/marco-Bloom.png');
	image-rendering: pixelated;
}
