@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	text-align: center;
	background-image: url('../assets/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.div-container {
	margin: 50px 20px 20px 20px;
	height: calc(100vh - 70px);
	overflow: hidden;
	box-sizing: border-box;
	padding: 1px 20px;
}

.top-container {
	display: flex;
	width: 100%;
	height: 65%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 1px 60px;
	justify-content: space-between;
}

.calendar {
	width: auto;
	height: 100%;
	margin-left: 25px;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 29px;
	padding-left: 15px;
	padding-bottom: 32px;
	padding-right: 19px;
	background-image: url("../assets/calendario.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	image-rendering: pixelated;
	overflow: hidden;
}

.hoja-calendario {
	width: 100%;
	height: 100%;
	padding-left: 35px;
	padding-top: 31px;
	padding-bottom: 15px;
	padding-right: 104px;
}

.calendario {
	width: 100%;
	height: 100%;
	padding-left: 9px;
	padding-top: 33px;
	padding-bottom: 15px;
	padding-right: 17px;
}

.days-month {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 9px;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);
	box-sizing: border-box;
	overflow: hidden;
	justify-content: start;
	align-content: start;
}

.days-month img {
	width: 50%;
	height: auto;
}

.weather {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.widget img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
	image-rendering: pixelated;
}

.widget {
	width: 100%;
	height: 37.7%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 10px;
	overflow: hidden;
	box-sizing: border-box;
	background-image: url("../assets/interfaz-clima.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.clock-weather {
	width: 33.33%;
	height: 100%;
	position: relative;
	overflow: visible;
}

.clock-weather img {
	position: absolute;
	width: auto;
	height: 100%;
	left: 5px;
	transform: rotate(0deg);
	transform-origin: center center;
}

.time-zone {
	width: 66.67%;
	height: 100%;
	padding: 2.9%;
	display: flex;
	flex-direction: column;
}

.day-month {
	height: 33%;
	width: 100%;
	font-family: "VT323", monospace;
	font-size: 22px;
	color: #1B0E1B;
	font-weight: blod;
	text-shadow: -1px 1px 0 #B17643;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 3%;
}

.weather-temp {
	height: 36%;
	width: 100%;
	padding: 3%;
	gap: 3%;
	display: flex;
}

.time {
	height: 33%;
	width: 100%;
	font-family: "VT323", monospace;
	font-size: 22px;
	color: #66422F;
	font-weight: blod;
	text-shadow: -1px 1px 0 #B17643;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-bottom: 3%;
}

.div1 {
	height: 100%;
	width: 40%;
	padding: 2%;
}

.div2 {
	height: 100%;
	width: 16%;
}

.div3 {
	height: 100%;
	width: 45%;
	padding: 2.9%;
}

.junimo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.junimo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	image-rendering: pixelated;
	display: block;
}

.menu-container {
	height: 35%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 3%;
	box-sizing: border-box;
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
}

.menu-btn {
	position: relative;
	width: 20%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	image-rendering: pixelated;
}

.menu-btn:hover {
	transform: scale(1.05);
	filter: brightness(1.2);
}

.menu-btn span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	pointer-events: none;
}

#todo-btn {
	background-image: url('../assets/marco-todo.png');
	image-rendering: pixelated;
}

#feelings-btn {
	background-image: url('../assets/marco-mood.png');
	image-rendering: pixelated;
}

#pomodoro-btn {
	background-image: url('../assets/marco-time.png');
	image-rendering: pixelated;
}

#bouquet-btn {
	background-image: url('../assets/marco-Bloom.png');
	image-rendering: pixelated;
}